.jumbotron {
  background-color: #2f2f2f;
  color: #fff;
  height: 60px;
  padding: 4px;
}

#current-section {
  padding: 20px;
  margin: 4px;
  border-color: #808080;
}

#forecast-section {
  padding: 20px;
  margin: 4px;
}

.forecast-card {
  background-color: #2b2bfd;
  color: #ffffff;
  width: 16.7%;
  height: 150px;
}

#blue-search-button {
  height: 30px;
  width: 30px;
}

#sidebar {
  background-color: rgb(239, 251, 255);
  height: 100%
}

#future-icon {
  height: 40px;
  width: 40px;
}

.safe {
  background-color: green;
  color: white;
}

.danger {
  background-color: red;
  color: white;
}